
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background-color: #ffe4ec; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}


.cadastro-box {
  background-color: #f8b7cd; 
  padding: 40px;
  width: 320px;
  text-align: center;
  border-radius: 15px; 
}

.cadastro-box h1 {
  margin-bottom: 25px;
  color: #8c2855; 
  font-size: 26px;
}

.cadastro-box input[type="text"],
.cadastro-box input[type="email"],
.cadastro-box input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #f6d0db;
  border-radius: 8px;
  background-color: #ffffff;
  outline: none;
}



.cadastro-box input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #e27da0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.cadastro-box p {
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
}

.cadastro-box a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}


.topo {
  background-color: rgb(241, 142, 189);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

.topo img {
  width: 45px;
  border-radius: 50%;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
}

.material-symbols-outlined {
  color: white;
  font-size: 30px;
  cursor: pointer;
}


footer {
      background-color:rgb(245, 155, 197); 
      color: #fff; 
      text-align: center;
      padding: 20px 0;
      font-size: 14px;
    }
